.cart-list {
    padding: 0 20px;
    background: white;
    margin-bottom: 40px;
    overflow-x: auto;
}

.cart-list .cart-list-options {
    text-align: end;
    margin: 20px 0;
}

@media screen and (max-width: 440px) {
    .cart-list-quantity {
        width: 40px;
    }
}